<h4>Agregar Personaje</h4>
<form action="" class="row" (ngSubmit)="addCharacter()">
  <!-- <input type="text" [value]="character.name" class="form-control mb-2"  placeholder="Nombre"> -->
  <input type="text"
    [(ngModel)]="character.name"
    class="form-control mb-2"
    name="name"
    placeholder="Nombre"
  >

  <input type="number"
    [(ngModel)]="character.power"
    name="power"
    class="form-control mb-2"
    placeholder="Poder"
  >

  <button type="submit" class="btn btn-primary">
    Agregar
  </button>
  <!-- <pre>{{ character | json }}</pre> -->
</form>
